.edit-form__text {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  margin-bottom: 30px;
  padding: 0 0 13px 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
